*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    transition: all 0.3s
}

body{
    background-color:#FF8C00;
    min-height: 100vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: #FF8000;
	border-radius: 1px;
}

header nav{
    height: 80px;
    background: #FF8C00;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.icono{
    display: none;
}

.enlaces{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: black;
    text-decoration: none;
}

.enlaces a:hover, .active{
    border-bottom: 1px solid black;
}

nav .logo{
    height: 100%;
    background: transparent;
    margin-left: 80px;
}

nav .logo img{
    object-fit: cover;
    height: inherit;
}

header .textos{
    text-align:center;
    color: white;
    margin-top: 150px;
}



    /* Inicia Banner de Cookies */

.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #FF8C00;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #FF7C00;
}

.aviso-cookies .enlace {
	color: black;
	text-decoration: none;
	font-size: 17px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}

.fondo-aviso-cookies.activo {
	display: block;
}
    /* Termina Baner de Cookies */

    .switchDark{
    background-color: #343D5B;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
.switchDark span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}
.switchDark::after{
    content: "";
    display: block;
    background: #fffbf5;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
}
.switchDark.active{
    background: #FF8C00;
}
.switchDark.active::after{
    left: unset;
    right: 0;
}
body{
    background: #FF8C00;
    color: #000;
    transition: .3 ease all;
}
body.dark{
    background: #222;
    color: #fff;    
    transition: .3 ease all;
}

@media screen and (max-width:1000px) {
    .icono {
        display: flex;
        justify-content: center;
        position: initial;
        height: 70px;
        align-items: center;
        color: #fff;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }
    
    header .textos h1 {
        font-size: 75px;
    }
    
    .enlaces {
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #FF8C00

        
    }
    
    .uno {
        
        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
        
    }
    
    .dos {
        
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
        
    }
}

@media screen and (max-width:400px){
    nav .logo{
        margin-left: 20px;
    }
    .icono{
        margin-right:20px;
    }
    
    header .textos h1 {
        font-size: 65px;
    }
}

 /* Empieza El Footer */
 .pie-de-pagina{
    width: 100%;
    background-color:#FF8C00;
}

.pie-de-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    text-align: center;
}

.pie-de-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo-1 .box figure img{
    width: 300px;
}

.pie-de-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;

}

.pie-de-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;

}

.pie-de-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #FF5C00;
    text-align: center;
    transition: all 300ms ease;
}

.pie-de-pagina .grupo-1 .red-social a:hover{
    color: #ffd792;
}

.pie-de-pagina .grupo-2{
    background-color: #FF7C00;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-de-pagina .grupo-2 small{
    font-size: 20px;
}

@media screen and (max-width:800px) {
    .pie-de-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}

.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: block;
    background: tomato;
    color: white;
    padding: 0.3rem 1rem;
    transition: all 0.5s linear;
    cursor: pointer;
    opacity: 0.3;
}

.back-to-top:hover {
    opacity: 1;
} 

.swal-button{
    background-color:#FF8C00;
    outline:0;
}

.swal-button:not([disabled]):hover {
    background-color: #FF7C00;
}

.swal-button {
    background-color: #FF8C00;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

.swal-footer{
    text-align: center;
}

.swal-button:focus {
    box-shadow: none;
  }

.form__container{
    width: 100%;
    display: block;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;

}

#form{
        background-color: #fff;
        width: 100%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
        margin-top: 80px;
        margin-bottom: 37px;
    }

.form__input{
    font-family:inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta{
    font-family: inherit;
    font-size: 1rem;
    background-color: #FF8C00;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 800;
}

@media (max-width:450px){
    .form{
        padding: 3.5em 1.5em;
    }


    .contenedor_loader{
        background-color: #f3f3f3;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        transition: all 1.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loader,
    .loader::before,
    .loader::after{
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        animation: loader 1.5s infinite ease-in-out;
    }
    
    .loader{
        color: #FF8000;
        font-size: 13px;
        position: relative;
        animation-delay: -0.16s;
    }
    
    .loader::before,
    .loader::after{
        content: '';
        position: absolute;
        top: 0;
    }
    
    .loader::before{
        left: -3.5em;
        animation-delay: -0.32s;
    }
    
    .loader::after{
        left: 3.5em;
    }
    
    
    @keyframes loader{
        0%,
        80%,
        100%{
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40%{
        box-shadow: 0 2.5em 0 0;
    }
    }

.pie-de-pagina .grupo-1 .red-social a:hover{
        color: #ffd792;
    }